@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    box-sizing: border-box;
}
body{
    font-family: 'Ubuntu',sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0; 
}
.bg{
    background-image: url('https://images.unsplash.com/photo-1645265199646-c72e7f86f282?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top:0;
    left:0;
    width:100vw;
    height: 50vw;
    z-index: -1;
    filter: blur(0px);
}
.loading-text{
    font-size: 50px;
    color: black;
}